<div class="container">
    <h1 class="page-title">Edit Materials</h1>

    <div class="product-description -full">

        <h4>Materials description</h4>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="text" class="form-control" id="photo" ng-model="editMaterials.material.image">
            </div>
            <div>
                <img ng-src="{{editMaterials.material.image}}" />
            </div>
            <div class="form-group">
                <label for="article">Article:</label>
                <input type="text" class="form-control" id="article" ng-model="editMaterials.material.article">
            </div>
            <div class="form-group">
                <label for="article">Measure:</label>
                <input type="text" class="form-control" id="measure" ng-model="editMaterials.material.measure">
            </div>
            <div class="form-group count-group">
                <label for="width">Width:</label>
                <div counter  id="width" value="editMaterials.material.width" ng-model="editMaterials.material.width" min="0"></div>
            </div>
            <div class="form-group count-group">
                <label for="width">Height:</label>
                <div counter  id="height" value="editMaterials.material.height" ng-model="editMaterials.material.height" min="0"></div>
            </div>
            <div class="form-group count-group">
                <label for="length">length:</label>
                <div counter  id="length" value="editMaterials.material.length " ng-model="editMaterials.material.length" min="0"></div>
            </div>
            <div class="form-group count-group">
                <label for="radius">Radius:</label>
                <div counter  id="radius" value="editMaterials.material.radius" ng-model="editMaterials.material.radius" min="0"></div>
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <textarea type="text" class="form-control" id="name" ng-model="editMaterials.material.name"></textarea>
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" ng-model="editMaterials.material.price">
            </div>


            <div class="form-group">
                <label for="extraCost">Extra cost:</label>
                <input type="number" class="form-control" id="extraCost" ng-model="editMaterials.material.extraCost">
            </div>

            <div class="form-group">
                <label for="stock">Stock ordinary:</label>
                <input type="number" class="form-control" id="stock" ng-model="editMaterials.material.stock.ordinary">
            </div>
            <div class="form-group">
                <label for="improved">Stock improved:</label>
                <input type="number" class="form-control" id="improved" ng-model="editMaterials.material.stock.improved">
            </div>

            <div class="form-group">
                <label for="extraTime">Extra time:</label>
                <input type="number" class="form-control" id="extraTime" ng-model="editMaterials.material.extraTime">
            </div>

            <button type="submit" class="btn btn-default" ng-click="editMaterials.edit()">Submit</button>
        </form>
    </div>


</div>

