/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium", sans-serif;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  background-color: rgb(243, 240, 245);
  font-family: "Roboto",sans-serif;
}

.logo_main {
  background-image: url(../assets/images/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 65px;
  height: 40px;
}

.logo_block {
  background-color: rgb(85, 74, 82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: rgb(243, 240, 245);
    cursor: pointer;
  }
  .menu_block {
    a {
      padding: 5px 15px;
      font-weight: bold;
    }
  }
}

.table-wrapper{
  height: calc(100vh - 350px);
  overflow: scroll;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: none;
  padding: 10px;
  vertical-align: top;
}

table thead tr:first-child {
  font-weight: bold;
}
table.main-table > tbody > tr,
table.main-table > thead > tr {
  border-bottom: 1px solid rgb(223, 224, 224);
}

table.main-table{
  td {
    &.text-right{
      text-align: right;
    }
    &.dotteds{
      max-width: 200px;
      overflow: hidden;
      position: relative;
      &:after {
        width: 0;
        bottom: 10px;
        color: rgb(180, 180, 180);
        font-size: 12px;
        white-space: nowrap;
        position: absolute;
        content:". . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      }
    }


    button {
      padding: 0px 10px;
      background: inherit;
      border: 1px solid #dfe0e0;;
      box-shadow: none;
    }
  }
}
table {
  td {
    button {
      &.circle, &.edit{
        margin-left: -5px;
      }
      &:hover{
        color: red;
      }
    }
    button:first-child{
      border-radius: 5px 0 0 5px;
    }
    button:last-child{
      border-radius: 0 5px 5px 0;
    }
  }
}

.counter-container .counter-minus, .counter-plus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: inherit;
  color: #333;
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid rgb(210, 210, 210);
}
.counter-plus{
  border-radius: 0 5px 5px 0;
}
.counter-minus{
  border-radius: 5px 0 0 5px;
}

.counter-container .counter-field {
  margin: 0;
  padding: 3px;
  text-align: center;
  width: 40px;
  border: 1px solid rgb(210, 210, 210);
  margin-right: -5px;
  margin-left: -5px;
}

.fa-trash-o:before{
  font-family: 'FontAwesome';
  content: "\f014";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}

.page-title {
  margin-bottom: 40px;
  padding-left: 30px;
  position: relative;
}
.page-title:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  left: 0;
  top: 8px;
  background: rgb(0, 49, 57);
  border-radius: 50%;
}

.filter-block {
  width: 100%;
  float: left;
  margin-bottom: 20px;

  a.add-materials {
    padding: 8px 15px;
    background: #fff;
    border: 1px solid rgb(208, 209, 212);
    border-radius: 3px;
    color: #333;
    float: right;

    i {
      margin-left: 10px;
      color: rgb(208, 209, 212);
    }

    &:hover{
      text-decoration: none;
      background: rgb(208, 209, 212);

      i {
        color: #fff;
      }
    }
  }
}

.product-description {
  width: 280px;
  height: calc(100vh - 200px);
  overflow-x: scroll;
  float: left;

  &.-full {
    width: 100%;
  }

  h4 {
    font-weight: lighter;
  }

  .form-horizontal{
    .form-group{
      margin-left: 0px;
      margin-right: 0px;
    }

    .form-control {
      background: inherit;
      box-shadow: none;
    }
  }

  .add-image{
    padding: 0;

    button {
      width: 100%;
      background-color: #fff;
      box-shadow: none;
      border-radius: 5px;
      padding: 5px;
    }
  }

  .count-group{
    label {
      width: 100px;
    }
    .counter-container{
      display: inline-block;
    }
  }
}

.product-composition{
  padding: 10px 15px;
  float: left;
  width: calc(100% - 300px);
  height: calc(100vh - 200px);
  background: #fff;
  margin-left: 20px;
  overflow: scroll;

  h4 {
    font-weight: lighter;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(210, 210, 210);
  }

  h5{
    width: calc(100% - 100px);
    padding-left: 20px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .item{
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .item-img{
      width: 100px;
      float: left;
    }
    .item-desc{
      width: calc(100% - 100px);
      padding-left: 20px;
      float: left;

      input{
        width: 70px;
      }
    }
    .item-desc > div{
      width: 33%;
      float: left;
      text-transform: capitalize;
      margin-bottom: 10px;

      span{
        margin-right: 10px;
      }
    }
  }
  .form-group{
    button, select{
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}


.main-title{
  margin: 60px 0;
}

.main-wrapper{
  display: flex;

  .item{
    width: calc(33% - 10px);
    height: 250px;
    overflow: hidden;
    margin: 5px;
    background-size: cover;
    background-position: center;
    position: relative;

    img{
      max-width: 100%;
    }

    .title{
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 50px;
      line-height: 50px;
      background: rgba(85, 74, 82, 0.7);
      transition: all .3s;
      padding: 0 20px;

      button{
        border: none;
        color: #fff;
        text-align: left;
        font-size: 20px;
        font-weight: 100;
        background: none;

      }
      
      a{
        float: right;
        color: #fff;
        font-size: 16px;
        font-weight: 100;

        i{
          border: 1px solid;
          padding: 5px;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          text-align: center;
          line-height: 15px;
          vertical-align: middle;
        }
      }
      
      &:hover{
        height: 60px;
        line-height: 60px;
      }
    }

  }
}
.main-calculate-btn{
  position: fixed;
  bottom: 0;
  text-align: right;

  a{
    width: 60px;
    height: 60px;
    background: #554a51;
    display: block;
    float: right;
    margin: 20px 0;
    border-radius: 50%;
    text-align: center;
    color: #f3f0f5;
    line-height: 60px;
    font-size: 28px;
    padding-left: 2px;
    transition: all .5s;

    &:hover{
      background: rgba(85, 74, 81, 0.2);
      color: #554a51;
    }
  }
}
.estimate{
  h1{
    margin-top: 50px;
    font-size: 22px;
    font-weight: 100;
  }
  h3{
    font-size: 18px;
    font-weight: 100;
    margin-top: 0;
  }
  .left-block{
    width: 300px;
    float: left;


    label{
      width: 100%;
      display: block;
      font-weight: 100;
    }
    select{
      width: 100%;
      height: 30px;
    }
    button{
      width: 100%;
      margin-top: 20px;
    }

    .input-wrapper{
      margin-bottom: 20px;
    }
  }
  .right-block{
    width: calc(100% - 300px);
    float: right;
    padding-left: 30px;

    .estimate-empty{
      border: 1px solid #dfe0e0;
      border-radius: 3px;
      padding: 100px 0;

      .estimate-empty-text{
        width: 370px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;

        .bold{
          font-weight: bold;
        }
      }
    }
    .estimate-item-img{
      width: 150px;
      float: left;
    }
    .estimate-item-desc{
      width: calc(100% - 150px);
      float: left;

      h4{
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0 15px;
      }

      label{
        font-weight: normal;
      }

      .input-wrapper{
        width: 33%;
        float: left;
        margin-bottom: 20px;
        height: 60px;
        padding: 15px;

        input[type=text]{
          padding: 5px 10px;
          background: inherit;
          border: solid 1px #dfe0e0;
          border-radius: 3px;
          width: 100%;
        }

        .notification{
          height: 60px;
          border: 1px solid #dfe0e0;
          padding: 10px 20px;
          border-radius: 3px;
        }
      }
    }
  }
}



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
