/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium", sans-serif;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  background-color: rgb(243, 240, 245);
  font-family: "Roboto",sans-serif;
}

.logo_main {
  background-image: url(../assets/images/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 65px;
  height: 40px;
}

.logo_block {
  background-color: rgb(85, 74, 82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: rgb(243, 240, 245);
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  padding: 10px;
}

.counter-container .counter-minus, .counter-plus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: #333;
  color: white;
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
}

.counter-container .counter-field {
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 40px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
