<div class="container">
    <h1 class="page-title">product - {{product.product.name}}</h1>

    <div class="product-description">

        <h4>products description</h4>

        <form class="form-horizontal">
            <div>
                <img ng-src="{{product.product.image}}" />
            </div>

            <div class="form-group">
                <label for="article">Article:</label>
                <input type="text" class="form-control" id="article" ng-model="product.product.article" disabled>
            </div>
            <div class="form-group">
                <label for="article">Dimensions:</label>
                <div>{{product.product.width || 0}} x {{product.product.height || 0}} x {{product.product.length || 0}} cm <br> Ø {{product.product.radius || 0}} cm</div>
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <textarea type="text" class="form-control" id="name" ng-model="product.product.name" disabled></textarea>
            </div>


        </form>


    </div>
    <div class="product-composition">

        <h4>product composition</h4>

    </div>

</div>

