<div class="container">
    <h1 class="page-title">Products</h1>

    <div class="filter-block">
        <h3>Products overview:</h3>

        <a ui-sref="add-products" class="add-materials">Add product <i class="fa fa-plus"></i></a>
    </div>

    <div class="table-wrapper">
        <table class="main-table">
            <thead>
                <tr>
                    <td>Article</td>
                    <td>Dimensions</td>
                    <td>Price</td>
                    <td>Measure</td>
                    <td>Stock</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products.products">
                    <td>{{product.article}}</td>
                    <td>{{product.width}} x {{product.height}} x {{product.length}} cm <br> Ø {{product.radius}} cm</td>
                    <td>{{product.price}}</td>
                    <td>{{product.measure}}</td>
                    <td counter  id="length" value="product.stock"
                        ng-model="product.stock"
                        ng-click="products.editStock(product)"
                        min="0"></td>
                    <td>
                        <button ng-click="products.removeProduct(product._id)"><i class="fa fa-trash"></i></button>
                        <button class="circle" ui-sref="product({id: product._id})"><i class="fa fa-circle"></i></button>
                        <button class="edit" ui-sref="edit-products({id: product._id})"><i class="fa fa-pencil"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
