<div class="container">
    <h1 class="page-title">Details</h1>

    <div class="filter-block">
        <h3>Details overview:</h3>

        <a ui-sref="add-details" class="add-materials">Add detail <i class="fa fa-plus"></i></a>

    </div>


    <div class="table-wrapper">
        <table class="main-table">
            <thead>
                <tr>
                    <td>Article</td>
                    <td>Dimensions</td>
                    <td>Price</td>
                    <td>Measure</td>
                    <td>Quantity</td>
                    <td>Stock</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="detail in details.details">
                    <td>{{detail.article}}</td>
                    <td>{{detail.width}} x {{detail.height}} x {{detail.length}} cm <br> Ø {{detail.radius}} cm</td>
                    <td>{{detail.price}}</td>
                    <td>{{detail.measure}}</td>
                    <td counter  id="length" value="detail.stock"
                        ng-model="detail.stock"
                        ng-click="details.editStock(detail)"
                        min="0"></td>

                    <td>
                        <table>
                            <tr ng-repeat="material in detail.materials">
                                <td class="dotteds">{{material._id}}</td>
                                <td>{{material.quantity}}</td>
                            </tr>
                        </table>

                    </td>
                    <td>
                        <button ng-click="details.removeDetail(detail._id)"><i class="fa fa-trash"></i></button>
                        <button class="circle" ui-sref="detail({id: detail._id})"><i class="fa fa-circle"></i></button>
                        <button class="edit" ui-sref="edit-details({id: detail._id})"><i class="fa fa-pencil"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
